<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sam.SamUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="sam.sam" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sam.SamUserSettings>
            <setting name="GPT_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAgentPersonality" serializeAs="String">
                <value>You are a helpful assistant.</value>
            </setting>
            <setting name="AgentSettingsList" serializeAs="String">
                <value />
            </setting>
        </sam.SamUserSettings>
        <sam.sam>
            <setting name="ChatDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
        </sam.sam>
    </userSettings>
</configuration>